$theme-colors: (
    "primary": #407BFF,
);

$body-bg: #f2f2f2;
$body-color: #263238;

/* https://react-bootstrap.github.io/getting-started/introduction */
/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";


