.product-card {
    width: 245px;
    padding: 20px 20px 30px 20px;
    text-align: center;
}

.product-info {
    border-top: 1px solid #e1e1e1;
    padding-top: 15px;
    margin-top: 15px;
}

.product-name {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    text-align: left;
    color:  #263238;
}